################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/TPC_Comercio_Equipo26/.vs/TPC_Comercio_Equipo26/FileContentIndex
