body {
    font-family: Arial, sans-serif;
    background-color: darkslategrey;
    color: lightgoldenrodyellow;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightsteelblue;
    color: aliceblue;
    padding: 20px;
    justify-content: space-between;
}


a {
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: dimgrey;
    color: antiquewhite;
    font-size: 14px;
}

h1 {
    margin-top: 20px;
}

h4 {
    text-align: center;
    margin: 30px 0 60px 0;
}

p {
    font-size: 16px;
}

img {
    width: 45px;
    height: 40px
}

.formulario {
    max-width: 400px;
    margin: auto;
    background-color: lightslategray;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .formulario label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .formulario input[type="text"],
    .formulario input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 3px;
    }

    .formulario input[type="submit"] {
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 3px;
        align-items: center;
    }

.logo {
    width: 5px;
}

.registro {
    margin: 5px;
    padding: 5px;
    text-align: center;
}


.ver-mas {
    font-size: 20px;
    color: dimgrey;
    margin: 10px;
    text-decoration: none;
}

    .ver-mas:hover::before {
        content: attr(title);
        position: absolute;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 5px;
        border-radius: 4px;
        font-size: 14px;
        color: #333;
        z-index: 1;
        top: 30px;
        left: 0;
    }


.titulo-label {
    font-size: 35px;
    margin-bottom: 20px;
}

.detalle {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin: 0 auto;
    color: darkslategrey;
}

    .detalle tr:nth-child(even) {
        background-color: #f0f0f0;
        background-color: lightgray;
    }

.grid-header {
    text-decoration: none;
    color: lightgoldenrodyellow;
    font-size: 20px;
    font: bold;
}

    .grid-header:hover::before {
        content: attr(title);
        position: absolute;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 5px;
        border-radius: 4px;
        font-size: 14px;
        color: #333;
        z-index: 1;
        top: 30px;
        left: 0;
    }

/*Media query para celulares*/
@media (max-width:768px) {
}
