body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightsteelblue;
    color: aliceblue;
    padding: 20px;
    justify-content: space-between;
}


a{
    text-decoration:none;
}

footer {
    text-align:center;
    padding:20px;
    background-color:lightgray;
    font-size:14px;
}

h4 {
    text-align:center;
    margin:30px 0 60px 0;
}

p {
    font-size: 12px;
}

.formulario {
    max-width: 400px;
    margin: 0 auto;
    background-color:lightsteelblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formulario label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

    .formulario input[type="text"],
    .formulario input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 3px;
    }

    .formulario input[type="submit"] {
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 3px;
        align-items: center;
    }

.logo {
    width:5px;
}

.registro {
    margin: 10px;
    padding: 10px;
    text-align:center;
}


/*Media query para celulares*/
@media (max-width:768px) {
    /*Ajustes de estilos para pantallas pequeñas*/
}
